@import "normalize.css";

@font-face {
    font-family: Open Sans Hebrew;
    src: url(../font/open-sans-hebrew.ttf);
  }

* {
    font-family: sans-serif;
}
h2{
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #5E168A;
    margin-top: 0;
}
section#sobre > div > h2::before {

    content: "";
    display: block;
    grid-area: before-title-sobre;

}
h3{
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #5E168A;
}
.scrollmenu{
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(88, 85, 85, 0.15);
}
body > header{
    margin: 0;
    padding: 0 12px;
    background: #FFF0CC;
    position: sticky;
    top: 0;
    padding-bottom: 12px;
}
section {
    margin: 0;
    padding: 32px 12px 12px;
}
section#sobre {
    background-image: url(../image/elipse_sobre_mobile.png);
    background-size: 106% 80%;
    background-repeat: no-repeat;
    background-position-x: -18px;
}
section#feature {
    background-image: url(../image/elipse_features_lojista_mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 170px;
}
img.logo_desktop {
    margin-top: 8px;
}
.menu_mobile {
    position: absolute;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #999   ;
    top: 5px;
    right: 5px;
    width: 75vw;
    height: calc(100vh - 64px);
    color: #5e168a;
    display: none;
}
.menu_mobile > img {
    margin-bottom: 15px;
}
button.burguer_open.alteranador_menu{
    display: none;
}
button.burguer_open{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  display: block;  
}
button.burguer_close {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 15px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
    height: 65px;
    display: none;
}
.menu_mobile > a {
    display: block;
    text-decoration: none;
    color: #5e168a;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
    padding: 15px 0;
}
.menu_desktop > a {
    display: inline-block;
    text-decoration: none;
    color: #5e168a;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 15px;
    padding: 0 15px 15px 15px;
    display:none;   
}
.header_container{
    display: flex;
    justify-content: space-between;
}
.social_mobile_menu{
    text-align: center;
    position: absolute;
    bottom: 15px;
    color: black;
    width: calc(100% - 30px);
    margin: 0;
}
.social_mobile_menu > .text_addition{
    text-align: center;
    color: black;
    font-size: 20px;
}
span.text_addition:after {
    content: "";
    display: block;
    margin: 8px;
}
a.facebook_mobile, a.instagram_mobile, a.twitter_mobile {
    margin: 15px;
}
a.facebook_mobile > i, a.instagram_mobile > i, a.twitter_mobile > i {
    color: #000;
}
.image_1 {
    width: calc(100vw - 32px);
    margin: 0 auto;
}
.image_1 > img.dog_spitz {
    width: 80vw;
    margin: 0 auto;
    display: block;
}
.menu_actived{
    border-bottom: 2px solid;
}
.faca_button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.joinus> .faca_button {
    margin-bottom: 32px;
}
section#sobre > div > .faca_button:after {
    content: "";
    grid-area: after_button_sobre;
}
.faca_parte{
    background-color: #5e168a;
    border: 0;
    border-radius: 100px;
    padding: 17px 68px;
    text-transform: uppercase;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;    
    color: #FBFBFB;
}
.features {
    width: 80vw;
    margin: 0 auto;
}
.features > img {
    display: block;
    margin: 0 auto;    
    width: 100%;
    grid-area: img-features;
}
.features > .features_itens > h4 {
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #5E1789;
}
.features > .features_itens > p {
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #37373E;
}
.slidesNavigation {
    display: flex;
    justify-content: center;
    clear: both;
}
.container_icon {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container_icon > figure {
    display: inline-block;
    text-align: center;
    margin: 15px;
}
.container_icon > figure > figcaption {
    margin-top: 15px;
    font-weight: 600;
    font-size: 13px;
}
h2.section_title {
    display: flex;
    justify-content: center;
    padding: 10px 45px;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    text-align: center;    
    color: #37373E;
    margin-bottom: 64px;
    
}
span.num_topics {
    text-transform: uppercase;
    text-align: center;
    display: inherit;
    margin: 64px 0 15px;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #5E168A;    
}
.image_1 > .img_app {
    max-width: 90vw;
}
.joinus > img {
    width: 80vw;
    display: block;
    margin: 0 auto;
}
.redes_sociais {
    text-align: center;    
    margin: 32px 0;
}
span.text_addition {
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
span.copyright_text {
    text-align: center;
    display: inherit;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #37373E;
}
h2.section_feature_title {
    display: flex;
    justify-content: center;
    padding: 10px 24px;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    color: #37373E;
    margin-bottom: 32px;
}
section#join_us {
    background-image: url(../image/elipse_join_us_lojista.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right bottom -60px;
}
.spitzinho > img {
    display: block;
    margin: 0 auto;
}

/*===============Contato===============*/
img.splitzinho-contato {
    width: calc(100vw - 32px);
    margin: 0 auto;
}
form > div > label > span.required {
    display: block;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #5E168A;
}
form > div > label > input{
    background: #FCFCFB;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    height: 64px;
    margin: 12px 0;
    color: #5E168A;    
    width: calc(100vw - 42px);
}
form > div > label > textarea{
    background: #FCFCFB;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 12px 0;
    color: #5E168A;    
    width: calc(100vw - 42px);
    resize: none;
}
button#submit {
    background-color: #5e168a;
    border: 0;
    border-radius: 100px;
    padding: 26px 56px;
    text-transform: uppercase;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FBFBFB;
    margin: 15px auto 64px;
    display: block;
}
section#section_contato {
    background-image: url(../image/Ellipse_19_contato.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
/*=============== teste carrosel de features ===============*/
.features input {
    display: none;
} 
.slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #5E1789;
    font-size: 0;
}
.slidesNavigation label:hover {
    cursor: pointer;
 }
.features #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.features #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.features #radio-3:checked ~ .slidesNavigation label#dotForRadio-3 {
  background: #5E1789;
}
.item2, .item1, .item3 {
    overflow: hidden;
    height: 0;
    float: left;
    opacity: 0;
    transition: opacity 1s;
}
.features #radio-1:checked ~ .features_itens.item1, .features #radio-2:checked ~ .features_itens.item2, .features #radio-3:checked ~ .features_itens.item3{
    display: block;
    float: left;
    opacity: 1;
    height: 200px;
}


/*=============== media 600px ===============*/

@media (min-width: 600px){
    section#sobre > div {
        display: grid;
        grid-template:
        "title-sobre img-sobre img-sobre"
        "subtitle-sobre img-sobre img-sobre"
        "button-sobre img-sobre img-sobre";
        grid-template-columns: 40vw 24.5vw 24.5vw;
        gap: 20px;
    }
    section#sobre > div > h2 {
        grid-area: title-sobre;
        margin: 0;
    }
    section#sobre > div > h3 {
        grid-area: subtitle-sobre;
        margin: 0;
    }
    section#sobre > div > .image_1 {
        grid-area: img-sobre;
        width: 50vw;
        margin: 0;
    }
    section#sobre > div > .faca_button{
        grid-area: button-sobre;
        margin: 0;
        
    }
    section#sobre > div > .image_1 > img.dog_spitz {
        width: 100%;
    }
    .container_icon {
        grid-template-columns: 25% 25% 25% 25%;
    }
    section#join_us {
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: right top 90px;
    }
    .joinus {
        display: grid;
        grid-template:"before_joinus_title joinus_image" "joinus_title joinus_image" "joinus_subtitle joinus_image" "joinus_button joinus_image" "after_button_joinus joinus_image";
        grid-template-columns: none;
        grid-template-columns: 45vw 45vw;
        justify-content: space-around;
    }
    .joinus > h2:before {
        content: "";
        grid-area: before_joinus_title;
    }
    .joinus > h2 {
        grid-area: joinus_title;
        display: inline-block;
    }
    .joinus > h3{
        grid-area: joinus_subtitle;
        display: inline-block;
    }
    .joinus > .faca_button{
        grid-area: joinus_button;
        display: inline-block;
    }
    .joinus > .faca_button > button.faca_parte::after {
        content: "";
        grid-area: after_button_joinus;
    }
    .joinus > img {
        grid-area: joinus_image;
        width: 100%;
    }
    .spitzinho{
        display: none;
    }
    section#socialmedia{
        display: grid;
        grid-template: "copyright_area redes_sociais";
        justify-content: space-between;
        grid-template-columns: 45vw 45vw ;
        gap: 15px;
        align-items: self-end;
        margin: auto 32px;
    }
    section#socialmedia > .redes_sociais {
        text-align: right;
        margin: 32px 0 0;
        grid-column: 2;
        grid-area: redes_sociais;
    }
    section#socialmedia > span.copyright_text{
        text-align: left;
        grid-area: copyright_area;
        grid-column: 1;
    }
    section#section_contato {
        display: grid;
        grid-template:
        "title_contact form_contact"
        "subtitle_contact form_contact"
        "img_contact form_contact";
        grid-template-columns: 45vw 45vw;
        gap:15px;
    }
    section#section_contato > h2 {
        grid-area: title_contact;
        margin: 0;
    }
    section#section_contato > h3 {
        grid-area: subtitle_contact;
        margin: 0;
    }
    section#section_contato > img.splitzinho-contato {
        grid-area: img_contact;
        width: 65%;
        margin: inherit;
    }
    section#section_contato > form {
        grid-area: form_contact;
    }
    form > div > label > input, form > div > label > textarea{
        width: 100%;
    }
    section#feature {
        background-image: url(../image/elipse_features_lojista.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: 170px;
    }    
}

/*=============== media 900px ===============*/
@media (min-width: 900px){
    body > header {
        padding: 15px 12px 0;
    }
    section#sobre > div > h2 {
        font-family: Open Sans Hebrew;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 63px;
    }
    section#sobre > div > h3 {
        font-family: Open Sans Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;        
        color: #5E168A;
    }
    button.burguer_open{
        display: none;
    }
    .menu_desktop {
        padding-top: 8px;
    }
    .menu_desktop > a{
        display: inline-block;
    }
    .header_container {
        justify-content: space-around;
    }
    .header_container > a {
        height: 100%;
    }
    a img.logo_desktop {
        margin-top: 8px;
        height: 100%;
        width: 100px;
    }
    section#sobre > div {
        display: grid;
        grid-template: "before-title-sobre img-sobre" "title-sobre img-sobre" "subtitle-sobre img-sobre" "button-sobre img-sobre" "after_button-sobre img-sobre";        
        grid-template-columns: none;
        grid-template-columns: 45vw 45vw;       
        justify-content: space-around;
    }
    section#sobre > div > .image_1 {
        grid-area: img-sobre;
        width: 100%;
        margin: 0;
    }
    section#sobre > div > .image_1 > img.dog_spitz {
        width: 100%;
        margin: unset;
    }
    .faca_parte {
        padding: 10px 56px;
    }
    section#sobre > div > .faca_button {
        justify-content: start;
    }
    .features {
        display: grid;
        grid-template:
        "img-features feature1"
        "img-features feature2"
        "img-features feature3"
        "conteiner_icon conteiner_icon";
        gap:15px;
        grid-template-rows: 90px 90px 90px 150px;       
        grid-template-columns: 40vw 40vw;
    }
    .features > img {
        grid-area: img-features;
        grid-row: 1/3;        
        margin-top: 2vh;
        width: 360px;
    }
    .features > .features_itens{
        display: block;
        float: inherit;
        opacity: 1;
        height: 200px;
    }
    .features > .features_itens > h4 {
        margin: 0;
    }
    .features > .features_itens > p {
        margin: 0;
    }
    .features > .features_itens.item1{
        grid-area: feature1;
    }
    .features > .features_itens.item2{
        grid-area: feature2;
    }
    .features > .features_itens.item3{
        grid-area: feature3;
    }
    .slidesNavigation {
        display: none;
    }    
    .container_icon {
        grid-template-columns: 25% 25% 25% 25%;
        grid-area: conteiner_icon;
        grid-column: 1 / span 2;
    }
    section#section_contato {
        display: grid;
        grid-template:
            "title_contact form_contact"
            "subtitle_contact form_contact"
            "img_contact form_contact";
        grid-template-columns: 38vw 38vw;
        gap: 15px;
        justify-content: center;
    }    
    section#feature {
        background-size: 30%;
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: 170px;
    }
    section#join_us {
        background-size: 45%;
    }
}

/*=============== media 1200px ===============*/
@media (min-width: 1200px){
    section#sobre > div {
        grid-template-columns: 40vw 30vw;
        justify-content: center;
    }
    .container_icon {
        width: 80%;
        display: grid;
        margin: 0 auto;
    }
    .joinus {
        grid-template-columns: 40vw 40vw;
        justify-content: center;
        gap: 15px;
    }
    section#section_contato > img.splitzinho-contato {
        width: 50%;
    }
    section#feature {
        background-size: 25%;
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: 123px;
    }
    section#join_us {
        background-size: 35%;
    }
}
